# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
instance/
.env.*
.DS_Store
*.log
*.pkl
*.csv
*.ipynb_checkpoints/
# VSCode
.vscode/
# OS
Thumbs.db
# Flask
*.egg-info/
# Jupyter
.ipynb_checkpoints/
